

<h2>Погледи</h2>

<a asp-controller="DavaOcenka" asp-action="najdobarPsiholog">Najdobar psiholog spored ocenka</a>
<br />
<a asp-controller="Korisniks"
asp-action="PsiholoziPrezimeKoIImePrezimePacientiKojRazgleduvaatUslugiKakoPonudenite">Pacienti koj razgleduvaat usluga shto e ponudena od barem dvajca psiholozi</a>
<br />
<a asp-controller="PacientotZakazuvaTermins" asp-action="pacientiZakazanoPocekeOd1Termin">Pacienti koj imaat zakazano poveke od 1 termin i imaat dadeno barem 2 ocenki</a>
<br />
<a asp-controller="SesijaSeOdrzuvaVoTermins" asp-action="SesijaOdrzanaPred1GodISegasnataImeFilipOdPrilep">Sesii koj se odrzale vo minatata ili segasnata godina od strana na psihologot Filip od Prilep</a>
<br />
<a asp-controller="Termins" asp-action="terminiTekovenMesecIGodinaGradPrilepOdPocekeodCasI40">Termini vo tekovniot mesec vo gradot Prilep so vremetraenje > od 1.40 </a>


